<!-- Validation failure messages -->
<% if @lookup_esi.errors.any? %>
  <% @lookup_esi.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Lookup Esi #<%= @lookup_esi.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_lookup_esi/<%= @lookup_esi.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for esi_code -->
      <div class="form-group">
        <label for="esi_code" class="control-label">
          Esi code
        </label>

        <input type="text" id="esi_code" name="esi_code" placeholder="Esi code" class="form-control" value="<%= @lookup_esi.esi_code %>">
      </div>

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Description
        </label>

        <input type="text" id="description" name="description" placeholder="Description" class="form-control" value="<%= @lookup_esi.description %>">
      </div>

      <button class="btn btn-warning">
        Update Lookup Esi
      </button>
      or
      <a href="/lookup_esis/<%= @lookup_esi.id %>">Cancel</a>
    </form>
  </div>
</div>
