<div class="page-header">
  <h1>
    Pits
    <a href="/pits/new" class="btn btn-lg btn-success">New Pit</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Pit</th>
        <th>Pit name</th>
        <th>Survey</th>
        <th>Tidal zone</th>
        <th>P depth</th>
        <th>P oil char</th>
        <th>P oil bot</th>
        <th>P oil top</th>
        <th>P oil dist</th>
        <th>Actions</th>
      </tr>

      <% @pits.each do |pit| %>
      <tr>
        <td><%= pit.pit_id %></td>
        <td><%= pit.pit_name %></td>
        <td><%= pit.survey_id %></td>
        <td><%= pit.tidal_zone %></td>
        <td><%= pit.p_depth %></td>
        <td><%= pit.p_oil_char %></td>
        <td><%= pit.p_oil_bot %></td>
        <td><%= pit.p_oil_top %></td>
        <td><%= pit.p_oil_dist %></td>
        <td>
          <a href="/pits/<%= pit.id %>" class="btn btn-primary">Show</a>
          <a href="/pits/<%= pit.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_pit/<%= pit.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
