<!-- Validation failure messages -->
<% if @person.errors.any? %>
  <% @person.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Person</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_person" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for person_id -->
      <div class="form-group">
        <label for="person_id" class="control-label">
          Person
        </label>

        <input type="text" id="person_id" name="person_id" placeholder="Person" class="form-control" value="<%= @person.person_id %>">
      </div>

      <!-- Label and input for last_name -->
      <div class="form-group">
        <label for="last_name" class="control-label">
          Last name
        </label>

        <input type="text" id="last_name" name="last_name" placeholder="Last name" class="form-control" value="<%= @person.last_name %>">
      </div>

      <!-- Label and input for first_name -->
      <div class="form-group">
        <label for="first_name" class="control-label">
          First name
        </label>

        <input type="text" id="first_name" name="first_name" placeholder="First name" class="form-control" value="<%= @person.first_name %>">
      </div>

      <!-- Label and input for org -->
      <div class="form-group">
        <label for="org" class="control-label">
          Org
        </label>

        <input type="text" id="org" name="org" placeholder="Org" class="form-control" value="<%= @person.org %>">
      </div>

      <button class="btn btn-success">
        Create Person
      </button>
      or
      <a href="/people">Cancel</a>
    </form>
  </div>
</div>
