<div class="page-header">
  <h3>Lookup Substr #<%= @lookup_substr.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Substr code</dt>
      <dd><%= @lookup_substr.substr_code %></dd>

      <dt>Description</dt>
      <dd><%= @lookup_substr.description %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/lookup_substrs" class="btn btn-primary">
        Back
      </a>
      <a href="/lookup_substrs/<%= @lookup_substr.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_lookup_substr/<%= @lookup_substr.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
