<div class="page-header">
  <h2>
    Surveys
    <a href="/surveys/new" class="btn btn btn-success">New Survey</a>
    <a href="/surveys.csv" class='btn btn-primary pull-right'>Export to CSV</button></a>
  </h2>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Survey ID</th>
        <th>Segment</th>
        <th>Segment list</th>
        <th>Date</th>
        <th>Start time</th>
        <th>Stop time</th>
        <th>Tide height</th>
        <th>Type</th>
        <th>Team Member 1</th>
        <th>Team Member 2</th>
        <th>Team Member 3</th>
        <th>Team Member 4</th>
        <th>Team Member 5</th>
        <th>Team Member 6</th>
        <th>Comments</th>
        <th>Actions</th>
      </tr>

      <% @surveys.each do |survey| %>
      <tr>
        <td><%= survey.survey_id %></td>
        <td><%= survey.segment_id %></td>
        <td><%= survey.seg_list %></td>
        <td><%= survey.surv_date %></td>
        <td><%= survey.start_time %></td>
        <td><%= survey.stop_time %></td>
        <td><%= survey.tide_hgt %></td>
        <td><%= survey.surv_type %></td>
        <td><%= survey.person1.full_name %></td>
        <td><%= survey.person2.full_name %></td>
        <td><%= survey.person3.full_name %></td>
        <td><%= survey.person4.full_name %></td>
        <td><%= survey.person5.full_name %></td>
        <td><%= survey.person6.full_name %></td>
        <td><%= survey.surv_comm %></td>
        <td>
          <a href="/surveys/<%= survey.id %>" class="btn btn-primary"><i class="fa fa-search-plus"></i></a>
          <a href="/surveys/<%= survey.id %>/edit" class="btn btn-warning"><i class="fa fa-edit"></i></a>
          <a href="/delete_survey/<%= survey.id %>" class="btn btn-danger" rel="nofollow"><i class="fa fa-trash-o"></i></a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
