<!-- Validation failure messages -->
<% if @survey.errors.any? %>
  <% @survey.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Survey</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_survey" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for survey_id -->
      <div class="form-group">
        <label for="survey_id" class="control-label">
          Survey
        </label>

        <input type="text" id="survey_id" name="survey_id" placeholder="Survey" class="form-control" value="<%= @survey.survey_id %>">
      </div>

      <!-- Label and input for segment_id -->
      <div class="form-group">
        <label for="segment_id" class="control-label">
          Segment
        </label>
        <%= select_tag(:segment_id, options_from_collection_for_select(Segment.all, :id, :segment_id), :class => "form-control") %>
      </div>

      <!-- Label and input for surv_date -->
      <div class="form-group">
        <label for="surv_date" class="control-label">
          Surv date
        </label>

        <input type="text" id="surv_date" name="surv_date" placeholder="Surv date" class="form-control" value="<%= @survey.surv_date %>">
      </div>


      <!-- Label and input for start_time -->
      <div class="form-group">
        <div class="col-sm-6">
          <label for="start_time" class="control-label">
            Start time
          </label>
        <input type="text" id="start_time" name="start_time" placeholder="Start time" class="form-control" value="<%= @survey.start_time %>">
        </div>

      <!-- Label and input for stop_time -->
        <div class="col-sm-6">
          <label for="stop_time" class="control-label">
            Stop time
          </label>

          <input type="text" id="stop_time" name="stop_time" placeholder="Stop time" class="form-control" value="<%= @survey.stop_time %>">
        </div>
      </div>

      <!-- Label and input for tide_hgt -->
      <div class="form-group">
        <label for="tide_hgt" class="control-label">
          Tide height
        </label>
        <select class="form-control" id="tide_hgt" name="tide_hgt" value="<%= @survey.tide_hgt %>">
          <option>L</option>
          <option>M</option>
          <option>H</option>
        </select>
      </div>

      <!-- Label and input for surv_type -->
      <div class="form-group">
        <label for="surv_type" class="control-label">
          Survey type
        </label>
        <select class="form-control" id="surv_type" name="surv_type" placeholder="Foot" value="<%= @survey.surv_type %>">
          <option>Foot</option>
          <option>ATV</option>
          <option>Airboat</option>
          <option>Boat</option>
          <option>Helicopter/Aircraft</option>
          <option>Overlook</option>
          <option>UAV</option>
        </select>
      </div>

      <!-- Label and input for surv_per1 -->
      <div class="form-group">
        <div class="col-sm-4">
          <label for="surv_per1" class="control-label">
            Team Member 1 (RP)
          </label>
          <%= select_tag(:surv_per1, options_from_collection_for_select(Person.order("last_name, first_name ASC"), :id, :full_name), :class => "form-control") %>

        </div>
        <!-- Label and input for surv_per2 -->
        <div class="col-sm-4">
            <label for="surv_per2" class="control-label">
              Team Member 2 (State)
            </label>
          <%= select_tag(:surv_per2, options_from_collection_for_select(Person.order("last_name, first_name ASC"), :id, :full_name), :class => "form-control") %>
        </div>
        <!-- Label and input for surv_per2 -->
        <div class="col-sm-4">
            <label for="surv_per3" class="control-label">
              Team Member 3 (Federal)
            </label>
          <%= select_tag(:surv_per3, options_from_collection_for_select(Person.order("last_name, first_name ASC"), :id, :full_name), :class => "form-control") %>
        </div>
      </div>

      <!-- Label and input for surv_per4 -->
      <div class="form-group">
        <div class="col-sm-4">
            <label for="surv_per4" class="control-label">
              Team Member 4
            </label>
          <%= select_tag(:surv_per4, options_from_collection_for_select(Person.order("last_name, first_name ASC"), :id, :full_name), :class => "form-control") %>
        </div>

        <div class="col-sm-4">
            <label for="surv_per5" class="control-label">
              Team Member 5
            </label>
          <%= select_tag(:surv_per5, options_from_collection_for_select(Person.order("last_name, first_name ASC"), :id, :full_name), :class => "form-control") %>
        </div>

        <div class="col-sm-4">
            <label for="surv_per6" class="control-label">
              Team Member 6
            </label>
          <%= select_tag(:surv_per6, options_from_collection_for_select(Person.order("last_name, first_name ASC"), :id, :full_name), :class => "form-control") %>
          <p class="help-block">
            <a href="/people/new">or add new</a>
          </p>
        </div>
      </div>
            <br>



      <!-- Label and input for surv_comm -->
      <div class="form-group">
        <label for="surv_comm" class="control-label">
          Survey comments:
        </label>

        <textarea id="surv_comm" name="surv_comm" placeholder="Surv comm" class="form-control" rows="3"><%= @survey.surv_comm %></textarea>
      </div>

      <button class="btn btn-success">
        Create Survey
      </button>
      or
      <a href="/surveys">Cancel</a>
    </form>
  </div>
</div>
