<!-- Validation failure messages -->
<% if @lookup_thick.errors.any? %>
  <% @lookup_thick.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Lookup Thick #<%= @lookup_thick.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_lookup_thick/<%= @lookup_thick.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for thick_code -->
      <div class="form-group">
        <label for="thick_code" class="control-label">
          Thick code
        </label>

        <input type="text" id="thick_code" name="thick_code" placeholder="Thick code" class="form-control" value="<%= @lookup_thick.thick_code %>">
      </div>

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Description
        </label>

        <input type="text" id="description" name="description" placeholder="Description" class="form-control" value="<%= @lookup_thick.description %>">
      </div>

      <button class="btn btn-warning">
        Update Lookup Thick
      </button>
      or
      <a href="/lookup_thicks/<%= @lookup_thick.id %>">Cancel</a>
    </form>
  </div>
</div>
